.container {
    display: flex;
    justify-content: center;
}

.button {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    text-align: center;
}

button {
    width: 15em;
    height: 5em;
}

.center {
    text-align: center; margin-bottom: 20px;
}
