<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>月の支出一覧</title>
    <link rel="stylesheet" th:href="@{/bankbook.css}">
</head>
<body>
<table>
<thead>
    <tr>
        <th>id</th>
        <th>カテゴリー</th>
        <th>支払い方法</th>
        <th>金額</th>
        <th>継続支払い</th>
        <th>メモ</th>
    </tr>
</thead>
<tbody>
    <tr>
        <td>1</td>
        <td>趣味</td>
        <td>現金</td>
        <td>56000</td>
        <td>2回</td>
        <td>高級のイヤホンを購入しました。</td>
    </tr>
</tbody>
</table>

</body>
</html>